{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'nancy.css' %}">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sent Mail</title>
    
</head>
<body>
    <h1 style = 'font-size:52px; margin: auto; margin-left :25px' >WhatsApp Has been Sent!</h1>
    <h2 style = 'font-size:25px; margin: auto; margin-left :127px' >Sender's List is below</h2>

    <div class = 'scroll'>
        {% for x in li  %}
        <li> {{x}}<br><br> </li>
        {% endfor %}   
    </div>
    <h1 style = 'font-size:52px; margin: auto; margin-left :736px ; margin-top:-325px' >WhtasApp Not Sent!</h1>
    <h2 style = 'font-size:25px; margin: auto; margin-left :823px; margin-top:-3px' >NOT sent Sender's List</h2>

    <div class = 'scroll_2'>
        {% for x in ln  %}
        <li> {{x}}<br><br> </li>
        {% endfor %} 
    </div>
</body>
</html>